/*font-family: 'Amatic SC', cursive;*/
/*font-family: 'Sacramento', cursive;*/
body{
    margin: 0;

}
body .container {
    display: flex;
    margin: 0;
    background-image: url("img/mainNav.png");
    background-repeat: no-repeat;
    width: 1514px;
    height: 985px;
    background-size: cover;

//snow
position: relative;
    overflow: hidden;
    justify-content: center;
    align-content: center;


}
.snow {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

}

.snow .svg {
    position: absolute;
    width: 100%;
    height: 100%;

}

#snow-top-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 22.5s infinite linear;

}

#snow-bottom-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 45s infinite linear;
}

@keyframes fall {

    100% {
        transform: translateY(0);
    }

}

header{
    display: flex;
}
header h1{
    font-family: 'Sacramento', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 102px;
    text-align: center;
    color: #30252C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 39.24%;
    top: 10.16%;

}

.content{
    position: fixed;
    left: 82%;
    top: 65%;
}

. openmenu{
    cursor: pointer;
    transition:0.5s ease-in-out;
}
. openmenu:hover{
    transition:0.5s ease-in-out;
}

#playerb{
    position: absolute;
    width: 0px;
    height: 0px;
    left: 6%;
    top: 15%;
    overflow-y:hidden;
    background: rgb(126 115 105 / 50%);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Amatic SC;
    font-style: normal;
    font-weight: normal;
    z-index:1;
    overflow-x: hidden;
    transition:0.5s ease-in-out;
}

#ytplayer{
    position: absolute;
    top: 20%;

}

#profile{
    position: absolute;
    width: 0px;
    height: 0px;
    left: 6%;
    top: 15%;
    overflow-y:hidden;
    background: rgb(126 115 105 / 50%);
    backdrop-filter: blur(20px);
    display: flex;
    font-style: normal;
    font-weight: normal;
    z-index:1;
    overflow-x: hidden;
    transition:0.5s ease-in-out;
}

.profile{
    font-family: 'Gamja Flower', cursive;
}

.profile h2{
    font-size: 40px;
    margin-bottom: 1px;
}

.profile h3{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.profile p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.profilePhoto{
    width: 350px;
    height: 350px;

}
.profileContnet{
    position: absolute;
    top: 25%;
    left: 45%;
}


.navbar{
    overflow-y: hidden;
    position: absolute;
    width: 0;
    height: 985px;
    left: 0px;
    top: 0px;

    background: rgb(126 115 105 / 50%);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    font-family: Amatic SC;
    font-style: normal;
    font-weight: normal;
    z-index:1;
    overflow-x: hidden;
    transition:0.5s ease-in-out;
}

nav h5{
    left: 138px;
    top: 300px;
    font-size: 50px;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 0;
    color: rgba(42, 39, 49, 0.73);


}
.navbar ul{
    padding: 0;
    list-style: none;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    left: 138px;
    color: #222224;
    line-height: 80px;
}
.navbar ul li a:link{
    color: #222224;
    text-decoration:none;
}
.navbar ul li a:hover{
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #D76C76;
    text-decoration:none;
}
.navbar ul li a:visited {
    color: #2A2731;
    text-decoration: none;
}

.navbar ul li img :hover{
    width: 40px;
    height: 40px;
}
.navbar hr{
    border: 0.5px solid rgba(55, 49, 67, 0.73);
    width: 96px;
    margin-top: 1px;
}
. closebtn
{}

footer{
    font-family: 'Sacramento', cursive;
    position: absolute;
    width: 126px;
    height: 53px;
    left: 1220px;
    top: 865px;
    font-size: 36px;
    line-height: 53px;
}
.collect{
    margin-top: 0;
    margin-bottom: 0;
}
.container ul li a:hover{

    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #D76C76;
    text-decoration:none;
}
#menu{
    display: block;
    position: fixed;
    left: 2.43%;
    right: 95.49%;
    top: 6.84%;
    bottom: 90.23%;
    width: 25px;
    height: 25px;
}
#close{
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 296px;
    top: 53px;

}
#arrow{

    width: 30px;
    height: 30px;
    line-height: 90px;

}

#me{
    display: block;
    position: absolute;

    left: 94.8%;
    top: 6.1%;
    width: 30px;
    height: 30px;
}
#play{
    display: block;
    position: absolute;

    left: 64.5%;
    top: 27.6%;
    bottom: 90.23%;
    width: 20px;
    height: 20px;
}
#pause{
    display: block;
    position: absolute;

    left: 66.4%;
    top: 27.6%;
    bottom: 90.23%;
    width: 20px;
    height: 20px;
}


#year{
    margin-bottom: 0;
}

ul,li{
    list-style:none;
    padding: 0;
    margin: 0;
}
.slide{
    position: absolute;
    top: 25%;
    left: 9%;
    width: 350px;
    height: 350px;
    overflow:hidden;

}
.slide li{
    position:absolute;left:0;right:0;top:0;bottom:0;
    opacity:0;
    transition:1s;
}

.slide li:nth-child(4){
    background:#faa;
}
.slide input{
    display:none;
}
.slide .bullet{
    position:absolute;
    bottom:20px;
    left:0;
    right:0;
    text-align:center;
    z-index:10;
}
.slide .bullet label{
    width:10px;
    height:10px;
    border-radius:10px;
    border:2px solid #faa;
    display:inline-block;
    background:#fff;
    font-size:0;
    transition:0.5s;
    cursor:pointer;
}

/* 슬라이드 조작 */
#pos1:checked ~ ul li:nth-child(1),
#pos2:checked ~ ul li:nth-child(2),
#pos3:checked ~ ul li:nth-child(3),
#pos4:checked ~ ul li:nth-child(4){opacity:1;}

/* bullet 조작 */
#pos1:checked ~ .bullet label:nth-child(1),
#pos2:checked ~ .bullet label:nth-child(2),
#pos3:checked ~ .bullet label:nth-child(3),
#pos4:checked ~ .bullet label:nth-child(4){background:#faa;}


@media screen and (max-width: 1140px) {
    #play {
        position: fixed;
        left: 68.5%;
    }

    #pause {
        position: fixed;
        left: 71%;
    }

    .content {
        left: 73%;

    }

    #ytplayer{
        left: 13%;
    }
}
@media screen and (max-width: 834px) {

    body .container {
        display: flex;
        margin: 0;
        background-image: url("img/main834.png");
        background-repeat: no-repeat;
        width: 834px;
        height: 1188px;
        background-size: cover;

    }

    header h1{
        font-family: 'Sacramento', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 102px;
        text-align: center;
        color: #30252C;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: absolute;
        left: 36%;
        top: 9%;

    }
    #profile{

        left: 6%;
        top: 15%;
        overflow-y:hidden;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

    }
    .slide{

        top: 30%;
        left: 5%;
        width: 250px;
        height: 250px;


    }

    .profile h2{
        font-size: 35px;
        margin-bottom: 1px;
    }

    .profile h3{
        font-size: 15px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .profilePhoto{
        width: 250px;
        height: 250px;

    }
    .profileContnet{
        position: absolute;
        top: 25%;
        left: 28%;
    }

    #menu{
        display: block;
        position: absolute;
        left: 4%;
        right: 95.49%;
        top: 5%;
        bottom: 90.23%;
        width: 25px;
        height: 25px;
    }

    .navbar{
        position: absolute;
        width: 0;
        height: 1188px;
        left: 0px;
        top: 0px;

        background: rgb(126 115 105 / 50%);
        backdrop-filter: blur(20px);
        display: flex;
        flex-direction: column;
        font-family: Amatic SC;
        font-style: normal;
        font-weight: normal;
        z-index:1;
        overflow-x: hidden;
        transition:0.5s ease-in-out;
    }

    nav h5{
        left: 138px;
        top: 300px;
        font-size: 50px;
        text-align: center;
        margin-top: 160px;
        margin-bottom: 0;
        color: rgba(42, 39, 49, 0.73);


    }
    .navbar ul{
        padding: 0;
        list-style: none;
        font-size: 36px;
        line-height: 45px;
        text-align: center;
        left: 138px;
        color: #222224;
        line-height: 80px;
    }
    #play{
        left: 67.5%;
        top: 26.5%;
    }
    #pause{
        left: 71%;
        top: 26.5%;
    }
    .content{
        left: 67%;
        top: 65%;
    }
    #ytplayer{
        left: 8%;
        width: 500px;
        height: 278px;
    }


}


    @media screen and (max-width: 743px) {
        #play{
            left: 88%;
            top: 5%;
        }
        #pause{
            left: 93%;
            top: 5%;

        }

        .content{
            left: 60%;
            top: 65%;
        }

        #ytplayer{

            left: 5%;
            width: 460px;
            height: 250px;
        }


    }

    @media screen and (max-width: 414px) {
    body .container {
        display: flex;
        margin: 0;
        background-image: url("img/main414.png");
        background-repeat: no-repeat;
        width: 414px;
        height: 1188px;
        background-size: cover;

    }

    header h1 {
        font-family: 'Sacramento', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 102px;
        text-align: center;
        color: #30252C;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: absolute;
        left: 25%;
        top: 9%;

    }

    .navbar {
        position: absolute;
        width: 0;
        height: 736px;
        left: 0px;
        top: 0px;

        background: rgb(126 115 105 / 50%);
        backdrop-filter: blur(20px);
        display: flex;
        flex-direction: column;
        font-family: Amatic SC;
        font-style: normal;
        font-weight: normal;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.5s ease-in-out;
    }

    nav h5 {
        left: 138px;
        top: 300px;
        font-size: 30px;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 0;
        color: rgba(42, 39, 49, 0.73);


    }

    .navbar ul {
        padding: 0;
        list-style: none;
        font-size: 24px;
        line-height: 45px;
        text-align: center;
        left: 138px;
        color: #222224;
        line-height: 80px;
    }
        #play{
            left: 86.5%;
            top: 5%;
            width: 15px;
            height: 15px;
        }
        #pause{
            left: 92.5%;
            top: 5%;
            width: 15px;
            height: 15px;
        }

        .content{
            left: 10%;
            top: 50%;
        }
        #ytplayer{
            top: 10%;
            left: 2%;
            width: 300px;
            height: 160px;
        }
}












